.footer {
  min-height: 455px;
  display: flex;
  flex-direction: column;
  background-color: #f3f1f1;
  background-image: url(../../images/footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
